<section>
  {{#if authenticated}}
    {{> userCard}}
    <br/>
    <a href="/docusign/createEnvelope" class="btn">Send Envelope via Email</a>
    <a href="/docusign/createEnvelope?embeddedSigning=true" class="btn">Embedded Signing</a>
  {{else}}
    <h1>Docusign Sandbox</h1>
    <p><a href="/docusign/signin">Sign in</a> to get started!</p>
  {{/if}}
</section>